rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function erAutoriseret() {
      return request.auth != null
        && exists(/databases/$(database)/documents/brugere/$(request.auth.token.email))
        && get(/databases/$(database)/documents/brugere/$(request.auth.token.email)).data.rolle
           in ['administrator', 'redaktør'];
    }

    function erAdministrator() {
      return request.auth != null
        && exists(/databases/$(database)/documents/brugere/$(request.auth.token.email))
        && get(/databases/$(database)/documents/brugere/$(request.auth.token.email)).data.rolle
           == 'administrator';
    }

    match /brugere/{email} {
      allow read: if erAutoriseret();
      allow create, update: if erAdministrator();
      allow delete: if erAdministrator();
    }

    match /nyheder/{id} {
      allow read, write: if erAutoriseret();
    }

    match /kalender/{id} {
      allow read, write: if erAutoriseret();
    }

    match /billeder/{id} {
      allow read, write: if erAutoriseret();
    }

    match /godkendelser/{id} {
      allow read, write: if erAutoriseret();
    }

    match /log/{id} {
      allow read, write: if erAutoriseret();
    }

    match /udviklingslog/{id} {
      allow read, write: if erAutoriseret();
    }

    match /system/{id} {
      allow read: if erAutoriseret();
      allow write: if erAdministrator();
    }

    match /hilsener/{id} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['til','tilNoegle','fra','besked'])
        && request.resource.data.fra is string && request.resource.data.fra.size() > 0 && request.resource.data.fra.size() <= 60
        && request.resource.data.besked is string && request.resource.data.besked.size() > 0 && request.resource.data.besked.size() <= 500;
      allow update, delete: if erAdministrator();
    }

    match /membres/{id} {
      allow read: if true;
      allow write: if true;
    }

    match /opslagstavle/{id} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['tekst','forfatter'])
        && request.resource.data.tekst is string
        && request.resource.data.tekst.size() > 0
        && request.resource.data.tekst.size() <= 500
        && request.resource.data.forfatter is string
        && request.resource.data.forfatter.size() > 0;
      allow update: if true;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }

  }
}
